<app-menu></app-menu>
<div class="container">
    <h1>Change Password
    </h1>
    <form
      (ngSubmit)="onSubmit()"
      #login="ngForm"
      class="needs-validation"
      novalidate
    >
      <div class="form-group">
        <label for="old-password">Old Password</label>
        <input
          type="password"
          ngModel
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          class="form-control"
          id="password"
          [(ngModel)]="model.oldPassword"
          name="old-password"
          required
        />
        <div class="invalid-feedback">Old password is required</div>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          type="password"
          ngModel
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
          class="form-control"
          id="password"
          [(ngModel)]="model.newPassword"
          name="password"
          required
        />
        <div class="invalid-feedback">New Password is required</div>
      </div>
      <button type="submit" class="btn btn-success">
        Submit
      </button>
    </form>
  </div>
  