<div class="container" style="padding: 0px !important;">
  <div class="card mb-3 ">
    <div class="card-body row">
      <div class="col-6">
        <div class="card-title ">TEMPFILENAME</div>
        <div class="card-text ">COMMENTS????</div>
        <div class="card-text"><a class="btn" (click)="downloadCaff()">Download Caff</a></div>
      </div>
      <img class="col-6" [src]="path" />


    </div>
    <ul class="list-group">
      <li *ngFor="let comment of comments" class="list-group-item"><div>{{comment.user!!.userName}}</div> <div>{{comment.commentText}}</div></li>
    </ul>
    <form (ngSubmit)="onSubmit()" #login="ngForm" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="name">Add Comment:</label>
        <input type="text" class="form-control" id="comment" required [(ngModel)]="model.commentText" name="comment"
          #name="ngModel" />
        <div class="invalid-feedback">Cannot add empty comment</div>
      </div>
      <button type="submit" class="btn btn-success">
        Add comment
      </button>
    </form>
  </div>
</div>