<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="listgroup">
                <li class="listitem">
                    File 1 submit
                </li>
                <li>
                    File 2
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    User1
                </li>
                <li>
                    User2
                </li>
            </ul>
        </div>
    </div>
</div>
