<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item">
                    File 1 <a class="btn btn-primary">Delete File</a>
                </li >
                <li class="list-group-item">
                    File 1 <a class="btn btn-primary">Delete File</a>
                </li >
            </ul>
        </div>
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item">
                    User <a class="btn btn-primary">Delete User</a>
                </li >
                <li class="list-group-item">
                    User  <a class="btn btn-primary">Delete User</a>
                </li >
            </ul>
        </div>
    </div>
</div>
